<div class="sidebar-content">
  <p class="navigation-label">WORKSPACE</p>
  <mat-nav-list aria-label="Main navigation">
    <ng-container *ngFor="let item of navigationItems">
      <a
        *ngIf="isVisible(item)"
        mat-list-item
        [routerLink]="item.route"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: item.route === '/claims' }"
        (click)="navigationSelected.emit()">
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        <span matListItemTitle>{{ item.label }}</span>
      </a>
    </ng-container>
  </mat-nav-list>

  <div class="sidebar-footer">
    <mat-icon aria-hidden="true">verified_user</mat-icon>
    <span>Secure claims workspace</span>
  </div>
</div>
